<div class="info-container">
  <p class="hero-title"></p>
  <p class="hero-overview"></p>

  <div class="info-movie-container">
    <div class="hero-container">
      <div class="genres-container"></div>
      <div class="hero-info">
        <p class="hero-vote"></p>
        <p class="hero-duration"></p>
      </div>
    </div>
    <button class="add-btn add-to-watchlist">
      <img
        class="add-btn-icon"
        src="./src/assets/add_btn.svg"
        alt="add to watchlist icon"
      />
      Add to watchlist
    </button>
    <button class="trailer-btn">
      <img
        class="trailer-btn-icon"
        src="./src/assets/trailer.svg"
        alt="watch trailer btn icon"
      />
      Watch Trailer
    </button>
  </div>
</div>
